*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.navbar {
    height: 50px;
    background-color: #9b34eb;
    display: flex;
    justify-content: center
}
.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content:space-between;
}
.logo {
    font-weight: 500;
    margin-left: 0;
    font-size: 30px;
}
/* .navItem {
    display: flex;
    align-items: center;
    margin-top: 2px;
} */
.navButton {
    margin-left: 10px;
    color: #9b34eb;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;

}