.footer {
    width: 100%;
    width: 1024px;
    font-size: 12px;
    /* display: flex; */
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
/* .fLists > div {
    flex: 1;
} */
.fList {
    list-style: none;
    padding: 0;
}
.fListItem {
    margin-bottom: 10px;
    color: #9b34eb;
    cursor: pointer;
}
.fText {
    color: #9b34eb;
    text-align: center;
    font-size: 15px;
}