.header {
    background-color: #9b34eb;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer {
   width: 100%; 
   max-width: 1024px;
   margin: 20px 0px 100px 0px;
}
.headerContainer.listMode {
    margin: 20px 0px 0px 0px;

}
.headerList {
    display: flex;
    /* padding: 20px; */
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}
.headerListItem {
    display: flex;
    gap: 10px;
    align-items: center;
}
.headerListItem.active {
    border: 1px solid #eb34dc;
    border-radius: 30px;
    padding: 10px;
}
.headerDescription {
 margin: 20px 0px;  
}

.headerTitle {
font-size: 36px;
/* font-family: "Roboto", sans-serif; */
}
/* .headerDescription  {
    font-size: 18px;
} */
.headerBtn {
    background-color: #eb34c9;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.headerSearch {
   height: 60px; 
   background-color: white;
   border: 3px solid #eb9934;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 10px 0px;
   border-radius: 10px;
   position: absolute;
   margin-top: 70px;
   width: 100%;
   max-width: 1024px;
}
.headerIcon {
    color: silver;
}
.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchBar {
    border: none;
    outline: none;
}

.headerSearchText {
    color: silver;
    cursor: pointer;
}
.date {
  position: absolute; 
  top: 50px;
  z-index: 2;
}
.options {
   position: absolute;
   top: 50px; 
   z-index: 2;
   background-color: white;
   color: silver;
   border-radius: 5px;
   -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
   box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.optionItem {
   width: 200px; 
   display: flex;
   justify-content: space-between;
   margin: 10px;
}
.optionCounter {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 12px;
   color: black;
}
.optionsCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #eb34c9;
    color: #eb34c9;
    cursor: pointer;
    background-color: white;
}
.optionsCounterButton:disabled {
    cursor: not-allowed;
}